.login-container {
  align-items: center;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login {
  align-items: center;
  background-color: #00bcc9;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0 rgb(60, 2, 68, 1);
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  width: 40%;
}

.login label {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login label:hover {
  color: #f8e61d;
}

.login input {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  color: gray;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0 1rem;
  width: 90%;
}

.login button {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  color: #a332b3;
  cursor: pointer;
  font-size: 2rem;
  height: 12%;
  margin-bottom: 1rem;
  width: 50%;
}

.login button:hover {
  background-color: whitesmoke;
}

.login button:enabled {
  background-color: #7ed321;
  color: white;
}

.login button:focus {
  outline: none;
}

.login button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
